* {
    margin: 5px;
    padding: 30px;
}

header {
    background-color: white;
    text-align: center;
    padding: 0px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
}

nav {
    background-color: rgb(244, 224, 189);
    text-align: center;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 10px;
    font-weight: bold;
}

nav a:hover {
    color: rgb(98, 40, 17);
}

.section.om-oss {
    background-color: white;
    padding: 10;
}

.Om.oss {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #000;
    border-color: bisque;
}
