* {
    margin: 5px;
    padding: 30px;
}

header {
    background-color: white;
    text-align: center;
    padding: 0px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    
}

nav {
    background-color: rgb(95, 86, 76);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 10px;
    font-weight: bold;
}

nav a:hover {
    color: rgb(52, 45, 37);
}


.Om.oss {
    background-color: rgb(95, 86, 76);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    font-size: medium;
    border-radius: 10px;
}

.custom-hem {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.custom-hem img {
width: 40%;
height: auto;
}

.hem {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.hem-content {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.round-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}


img {
    width: 500px;
    height: 400px;
}

ul {
    list-style-type: none;
}

.Kontakt {
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: center;
}

footer {
    background-color: rgb(78, 72, 63);
    text-align: center;
    padding: 1px;
    border-radius: 10px;
}

footer p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.splide .splide__slide img {
    width: 800px;
    height: auto;
    padding: 0px;
    border: 5px solid rgb(81, 69, 69);
    color: rgb(81, 69, 69);
    border-radius: 10px;
}

.splide__arrow {
    font-size: 24px;
}

body {
    background-color: white;
}

.custom-h2 {
    font-size: 48px;

}